<h1 mat-dialog-title (contextmenu)="__elementSelectionService.select('317746339',$event)" [ngStyle]="__elementSelectionService.getStyles('317746339')"(click)='__elementSelectionService.clear()'>Excluir</h1>
<div mat-dialog-content (contextmenu)="__elementSelectionService.select('151845071',$event)" [ngStyle]="__elementSelectionService.getStyles('151845071')"(click)='__elementSelectionService.clear()'>
  {{message}}
  <p (contextmenu)="__elementSelectionService.select('1208324304',$event)" [ngStyle]="__elementSelectionService.getStyles('1208324304')"></p>
</div>
<div class="button-row" mat-dialog-actions (contextmenu)="__elementSelectionService.select('2138775897',$event)" [ngStyle]="__elementSelectionService.getStyles('2138775897')"(click)='__elementSelectionService.clear()'>
  <button mat-raised-button (click)="onClickNO()" cdkFocusInitial (contextmenu)="__elementSelectionService.select('1484802388',$event)" [ngStyle]="__elementSelectionService.getStyles('1484802388')">Nao</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="true" (contextmenu)="__elementSelectionService.select('2128071412',$event)" [ngStyle]="__elementSelectionService.getStyles('2128071412')">Sim</button>
 
</div>