<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
<div class="container-fluid">
   <br><br><br><br>
   <form autocomplete="off" #loginForm="ngForm">
	  <label class="sr-only" for="usuario">Nome</label>
	  <div class="input-group col-md-6">
	    <div class="input-group-prepend">
	      <div class="input-group-text">@</div>
	    </div>
	    <input type="email" class="form-control form-control-lg" name="usuario" placeholder="usuario" ngModel required #usuario>
	  </div>
	  <br>
	  <div class="form-group col-md-6">
    	<input type="password" class="form-control form-control-lg" name="senha" ngModel required #senha>
	  </div>
	  <div class="form-group col-md-4">
         <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success rounded-pill" (click)="login(usuario.value, senha.value); senha.value =''">Entrar</button>
	  </div>
	</form>
  
</div>
