<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
<div class="container-fluid">
    <br><br><br><br>
    <div>
        <h2>Pessoas</h2>
    </div>

    <mat-grid-list cols="1" rowHeight="2:1">

    <form #pessoaForm="ngForm" (ngSubmit)="consultar()" class="form form-categoria">

        <div class="container-flex">
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matNativeControl placeholder="Input" type="text" name="nome" [(ngModel)]="filtro.nome">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Ativo</mat-label>
                <input matNativeControl placeholder="Input" type="text" name="ativo" [(ngModel)]="filtro.ativo">
            </mat-form-field>
        </div>

        <div class="col-sm-3">
            <button type="submit" class="btn btn-outline-primary">Pesquisar</button>
        </div>
        <br>
    </form>
    </mat-grid-list>
    
	    <div class="mat-app-background basic-container">
			<app-mat-paginator [length]="totalRegistros" [pageSize]="filtro.itensPorPagina" showFirstLastButtons>loading</app-mat-paginator>
		</div>
		<div class="container-table mat-elevation-z8">
		    <table mat-table [dataSource]="pessoas" matSort>
		
			    <ng-container matColumnDef="nome" sticky>
			        <th mat-header-cell *matHeaderCellDef> Nome </th>
			        <td mat-cell *matCellDef="let element"> {{element.nome}}</td>
			    </ng-container>
		
			    <ng-container matColumnDef="cidade">
			        <th mat-header-cell *matHeaderCellDef> Cidade </th>
			        <td mat-cell *matCellDef="let element"> {{element.endereco.cidade}} </td>
			    </ng-container>
			
			    <ng-container matColumnDef="estado">
			        <th mat-header-cell *matHeaderCellDef> Estado </th>
			        <td mat-cell *matCellDef="let element"> {{element.endereco.estado}} </td>
			    </ng-container>
				
			    <ng-container matColumnDef="ativo">
			        <th mat-header-cell *matHeaderCellDef> Ativo </th>
			        <td mat-cell *matCellDef="let element"><a mat-button color="primary" (click)="alternarStatus(element)">{{element.ativo}}</a></td>
			    </ng-container>
	
                <!-- Star Column -->
			    <ng-container matColumnDef="star" stickyEnd>
			      <th mat-header-cell *matHeaderCellDef></th>
			      <td mat-cell *matCellDef="let element">
                      <button type="submit" class="btn btn-defualt btn-sm" [routerLink]="['/pessoas', element.id]" data-toggle="tooltip" title="Editar">
                          <img class="open-iconic" src="../assets/icones/open-iconic/svg/pencil.svg" alt="Editar">
                      </button>
                      <button type="submit" class="btn btn-defualt btn-sm" (click)="confirmExclusao(element.id)" data-toggle="tooltip" title="Excluir"><img class="open-iconic" src="../assets/icones/open-iconic/svg/trash.svg" alt="Excluir"></button>
			      </td>
			    </ng-container>
						
			    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		    </table>
		</div>
   
	    <div class="col-sm-4">
	        <a type="button" class="btn btn-outline-primary" routerLink="/pessoas/novo">Nova Pessoa</a>
	    </div>
</div>