<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" (contextmenu)="__elementSelectionService.select('507761017',$event)" [ngStyle]="__elementSelectionService.getStyles('507761017')"(click)='__elementSelectionService.clear()'></link>
<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css" (contextmenu)="__elementSelectionService.select('113984610',$event)" [ngStyle]="__elementSelectionService.getStyles('113984610')"(click)='__elementSelectionService.clear()'></link>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons&#38;display=block" rel="stylesheet" (contextmenu)="__elementSelectionService.select('986231695',$event)" [ngStyle]="__elementSelectionService.getStyles('986231695')"(click)='__elementSelectionService.clear()'></link>
<div class="container-fluid" (contextmenu)="__elementSelectionService.select('450923888',$event)" [ngStyle]="__elementSelectionService.getStyles('450923888')"(click)='__elementSelectionService.clear()'>
   <br (contextmenu)="__elementSelectionService.select('1097603952',$event)" [ngStyle]="__elementSelectionService.getStyles('1097603952')"><br (contextmenu)="__elementSelectionService.select('380859407',$event)" [ngStyle]="__elementSelectionService.getStyles('380859407')"><br (contextmenu)="__elementSelectionService.select('1312795111',$event)" [ngStyle]="__elementSelectionService.getStyles('1312795111')"><br (contextmenu)="__elementSelectionService.select('1114653690',$event)" [ngStyle]="__elementSelectionService.getStyles('1114653690')">
   <form autocomplete="off" #loginForm="ngForm" (contextmenu)="__elementSelectionService.select('1676048223',$event)" [ngStyle]="__elementSelectionService.getStyles('1676048223')">
	  <label class="sr-only" for="usuario" (contextmenu)="__elementSelectionService.select('1853387808',$event)" [ngStyle]="__elementSelectionService.getStyles('1853387808')">Nome</label>
	  <div class="input-group col-md-6" (contextmenu)="__elementSelectionService.select('1564186777',$event)" [ngStyle]="__elementSelectionService.getStyles('1564186777')">
	    <div class="input-group-prepend" (contextmenu)="__elementSelectionService.select('487878487',$event)" [ngStyle]="__elementSelectionService.getStyles('487878487')">
	      <div class="input-group-text" (contextmenu)="__elementSelectionService.select('1301856037',$event)" [ngStyle]="__elementSelectionService.getStyles('1301856037')">@</div>
	    </div>
	    <input type="email" class="form-control form-control-lg" name="usuario" placeholder="usuario" ngModel required #usuario (contextmenu)="__elementSelectionService.select('1626082242',$event)" [ngStyle]="__elementSelectionService.getStyles('1626082242')">
	  </div>
	  
	  <br (contextmenu)="__elementSelectionService.select('1637001238',$event)" [ngStyle]="__elementSelectionService.getStyles('1637001238')">
	  
	  <div class="input-group col-md-6" (contextmenu)="__elementSelectionService.select('1598164388',$event)" [ngStyle]="__elementSelectionService.getStyles('1598164388')">
    	<input type="password" class="form-control form-control-lg" name="senha" ngModel required #senha (contextmenu)="__elementSelectionService.select('1462497534',$event)" [ngStyle]="__elementSelectionService.getStyles('1462497534')">
	  </div>
	  
	  <br (contextmenu)="__elementSelectionService.select('1469666242',$event)" [ngStyle]="__elementSelectionService.getStyles('1469666242')">
	  
	  <div class="form-group col-md-4" (contextmenu)="__elementSelectionService.select('591369023',$event)" [ngStyle]="__elementSelectionService.getStyles('591369023')">
         <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success rounded-pill" (click)="login(usuario.value, senha.value); senha.value =''" (contextmenu)="__elementSelectionService.select('1818203601',$event)" [ngStyle]="__elementSelectionService.getStyles('1818203601')">Entrar</button>
	  </div>
	</form>
  
</div>
