<div class="container">
	<br><br><br><br>
	<form #pessoaForm="ngForm" (ngSubmit)="salvar(pessoaForm)">
		<h2>{{editando ? 'Edição de' : 'Novo'}} Pessoa</h2>

		<div class="row">
			<div class="form-group">
				<label>Nome</label>
				<input class="form-control" name="nome" type="text" [(ngModel)]="pessoa.nome">			
			</div>
		</div>
		<div class="row">
			<div class="form-group  col-md-6">
				<label>Logradouro</label>
				<input class="form-control" name="logradouro" [(ngModel)]="pessoa.endereco.logradouro" type="text">
			</div>
			<div class="form-group  col-md-6">
				<label>Numero</label>
				<input class="form-control" name="numero" [(ngModel)]="pessoa.endereco.numero" type="text">			
			</div>
		</div>
		<div class="row">
			<div class="form-group  col-md-4">
				<label>Complemento</label>
				<input class="form-control" name="complemento" [(ngModel)]="pessoa.endereco.complemento" type="text">			
			</div>
			<div class="form-group  col-md-4">
				<label>Bairro</label>
				<input class="form-control" name="bairro" [(ngModel)]="pessoa.endereco.bairro" type="text">			
			</div>
			<div class="form-group col-md-4">
				<label for="inputZip">CEP</label>
				<input type="text" class="form-control" name="cep" [(ngModel)]="pessoa.endereco.cep" id="inputZip">
			</div>
		</div>
		
		<div class="row">
		    <div class="form-group col-md-6">
		        <label for="nome">Estado</label>
		        <select class="form-control" [(ngModel)]="estadoSelecionado" name="estadoSelecionado" (change)="carregarCidades()" required>
		          <option selected>{{pessoa.endereco.cidade.estado.nome}} </option>
		          <option *ngFor="let estado of estados" value="{{estado.value}}">{{estado.label}}</option>
		        </select>
		      </div>

		    <div class="form-group col-md-6">
		        <label for="cidade">Cidade</label>
		        <select class="form-control" name="cidades" [(ngModel)]="pessoa.endereco.cidade.id" #cidade="ngModel" required [disabled]="!estadoSelecionado">
		          <option selected>{{pessoa.endereco.cidade.nome}}</option>
		          <option *ngFor="let cidade of cidades" value="{{cidade.value}}">{{cidade.label}}</option>
		        </select>
		        
			</div>

	    </div>
	    
		<mat-card>
			<app-pessoa-contato-form [contatos]="pessoa.contatos"></app-pessoa-contato-form>			
		</mat-card>
		
		<div class="col">
			<button type="submit" class="btn btn-outline-primary">Salvar</button>
			&nbsp;
			<a type="button" class="btn btn-outline-primary" routerLink="/pessoas/novo">Novo</a>
			&nbsp;
			<a type="button" class="btn btn-outline-primary" routerLink="/pessoas">Voltar</a>
		</div>

	</form>

</div>